
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section1,
	#section2,
	#section3{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section1{
		background-image: url(../imgs/bg1.jpg);
	}
	#section2{
		background-image: url(../imgs/bg2.jpg);
		padding: 6% 0 0 0;
	}
	#section3{
		background-image: url(../imgs/bg3.jpg);
		padding: 6% 0 0 0;
	}
	#section3 h1{
            color: #000;
	}



	#section1 h1{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 30px;
		color: #fff;
	}

	#section2 .intro{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 30px;
	}
	#section2 h1,
	#section2 p{
            text-shadow: 1px 5px 20px #000;
	}
	#section3 h1,
	#section3 p{
            text-shadow: 1px 5px 20px #000;
            color: #fff;
	}
	#infoMenu li a{
            color: #fff;
	}